.place__paragraph {
    margin: 0 0 26px;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #fff;
    width: 100%;
  }
  
  .place__paragraph:last-child {
    margin-bottom: 0px;
  }