.page__places {
  margin: 92px auto 0;
  padding: 0 48px;
}

@media screen and (max-width: 896px) {
  .page__places {
    margin: 88px auto 0;
    padding: 0 24px;
  }
}

@media screen and (max-width: 544px) {
  .page__places {
    margin: 64px auto 0;
    padding: 0;
  }
}


