.photo-grid__items {
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: repeat(auto-fit, 1fr);
}

@media screen and (max-width: 1152px) {
  .photo-grid__items {
    grid-gap: 14px;
  }
}

@media screen and (max-width: 896px) {
  .photo-grid__items {
    grid-gap: 16px;
  }
}

@media screen and (max-width: 544px) {
  .photo-grid__items {
    grid-gap: 12px;
  }
}
