.place {
    display: grid;
    grid-template-columns: min460px 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "title website"
      "image paragraphs";
    column-gap: 40px;
    row-gap: 48px;
  }

  .place:not(:last-child) {
    margin-bottom: 80px;
  }

  @media screen and (max-width: 1024px) {
    .place {
      display: grid;
      grid-template-columns: 440px 456px;
      grid-template-rows: auto;
      column-gap: 32px;
    }
  }

  @media screen and (max-width: 768px) {
    .place {
      grid-template-columns: 340px 1fr;
      grid-template-rows: auto;
      column-gap: 28px;
    }
  }

  @media screen and (max-width: 320px) {
    .place {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      row-gap: 32px;
    }
  }
