.place {
    display: grid;
    grid-template-columns: minmax(320px, 460px);
    grid-template-rows: auto;
    grid-template-areas:
      "title website"
      "image paragraphs";
    column-gap: 40px;
    row-gap: 48px;
  }

  .place:not(:last-child) {
    margin-bottom: 80px;
  }

