.place__url-heading {
  color: #AAA;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  margin: 0 0 8px;
  text-transform: uppercase;
}

@media screen and (max-width: 544px) {
  .place__url-heading {
    margin: 0 0 12px;
  }
}
