.page__cover {
  margin: 92px auto 0;
}

@media screen and (max-width: 896px) {
  .page__cover {
    margin: 90px auto 0;
  }
}

@media screen and (max-width: 544px) {
  .page__cover {
    margin: 66px auto 0;
  }
}
